# Proyecto 1. Pandas
Con el fichero Fichero `sample_NYC_parking_issues.csv`


**Importante:** los cambios se arrastran en las siguientes preguntas.


### Crea un proyecto en Github para esta entrega e incluye un fichero Readme.md
Asegurate que es público ya que solo se puede entregar la URL del proyecto en github.
<hr/>

In [8]:
import pandas as pd
import numpy as np

In [102]:
path=("C:/Users/MSI/Desktop/Entrega_python_pandas_Nestor/")
df=pd.read_csv(path+"sample_NYC_parking_issues.csv",sep=";")
df.head
df.shape

(10000, 44)

### A) Limpia el dataframe de aquellas columnas con todos sus campos a NAN

In [103]:
print(df.isnull().sum()) # para saber cuantos NAN hay por columan en el DF. Al haber tantas columans no permite visualizar bien

df.isnull().sum().sum() # Se suman todos los NAN que hay en el DF

Unnamed: 0                               0
Summons Number                           0
Plate ID                                 2
Registration State                       0
Plate Type                               0
Issue Date                               0
Violation Code                           0
Vehicle Body Type                      113
Vehicle Make                            82
Issuing Agency                           0
Street Code1                             0
Street Code2                             0
Street Code3                             0
Vehicle Expiration Date                  0
Violation Location                     727
Violation Precinct                       0
Issuer Precinct                          0
Issuer Code                              0
Issuer Command                         708
Issuer Squad                           708
Violation Time                           1
Time First Observed                   8903
Violation County                       760
Violation In Front Of Or Opposite      821
Number                                 916
Street                                   2
Intersecting Street                   7962
Date First Observed                      0
Law Section                              0
Sub Division                             0
Violation Legal Code                  9291
Days Parking In Effect                1529
From Hours In Effect                  3620
To Hours In Effect                    3620
Vehicle Color                           69
Unregistered Vehicle?                 8622
Vehicle Year                             0
Meter Number                          7752
Feet From Curb                           0
Violation Post Code                   2085
Violation Description                 1378
No Standing or Stopping Violation    10000
Hydrant Violation                    10000
Double Parking Violation             10000
dtype: int64

89671

In [104]:
print(df.isnull().sum().sum()) # Se suman todos los NAN que hay en el DF
df.columns[df.isnull().any()] # En qué columnas hay NAN

89671

Index(['Plate ID', 'Vehicle Body Type', 'Vehicle Make', 'Violation Location',
       'Issuer Command', 'Issuer Squad', 'Violation Time',
       'Time First Observed', 'Violation County',
       'Violation In Front Of Or Opposite', 'Number', 'Street',
       'Intersecting Street', 'Violation Legal Code',
       'Days Parking In Effect    ', 'From Hours In Effect',
       'To Hours In Effect', 'Vehicle Color', 'Unregistered Vehicle?',
       'Meter Number', 'Violation Post Code', 'Violation Description',
       'No Standing or Stopping Violation', 'Hydrant Violation',
       'Double Parking Violation'],
      dtype='object')

In [105]:
df_sin_nan = df[[df.dropna]]
type(df_sin_nan)
# df_sin_nan.info()

# df_sin_nan.columns[df.isnull().any()]

KeyError: "None of [Index([<bound method DataFrame.dropna of       Unnamed: 0  Summons Number    Plate ID Registration State Plate Type  \\\\n0        7192124      7684215310     24824MD                 NY        COM   \\n1        1399831      5070680213    9TOPCLAS                 NY        OMT   \\n2        5369188      1356951855     GEL1573                 NY        PAS   \\n3        6338606      7713806271     EDU1026                 NY        PAS   \\n4        2823881      7645478044     DXX6460                 NY        PAS   \\n...          ...             ...         ...                ...        ...   \\n9995       51871      1359994981     42799JW                 NY        COM   \\n9996     2178598      7531580299  BLANKPLATE                 99        999   \\n9997     5536586      1353773541     FXW2962                 NY        PAS   \\n9998     1127482      7207594008     CLR2162                 NY        PAS   \\n9999     2822344      7536561775     DJG9703                 NY        PAS   \\n\\n      Issue Date  Violation Code Vehicle Body Type Vehicle Make  \\\\n0     04/23/2014              71               VAN         FRIG   \\n1     09/14/2013               7              4DSD        DODGE   \\n2     02/13/2014              71              SUBN        HONDA   \\n3     03/20/2014              21              SUBN        TOYOT   \\n4     11/01/2013              20              4DSD        HONDA   \\n...          ...             ...               ...          ...   \\n9995  07/24/2013              14               VAN          FRG   \\n9996  10/10/2013              21               MCY        TRIUM   \\n9997  02/21/2014              16               SDN        MAZDA   \\n9998  09/05/2013              37              4DSD        HONDA   \\n9999  11/01/2013              46              SUBN        HONDA   \\n\\n     Issuing Agency  ...  Vehicle Color  Unregistered Vehicle?  Vehicle Year  \\\\n0                 T  ...             WH                    NaN        2004.0   \\n1                 V  ...             BK                    NaN        2008.0   \\n2                 P  ...            NaN                    0.0        2006.0   \\n3                 T  ...             GY                    NaN        2008.0   \\n4                 T  ...             MR                    NaN        1996.0   \\n...             ...  ...            ...                    ...           ...   \\n9995              P  ...           WHIT                    0.0        2007.0   \\n9996              T  ...          BLACK                    NaN           0.0   \\n9997              T  ...             GR                    0.0        1996.0   \\n9998              T  ...          SILVE                    NaN        2006.0   \\n9999              T  ...          BLACK                    NaN        2005.0   \\n\\n      Meter Number  Feet From Curb  Violation Post Code  \\\\n0              NaN             0.0                 01 4   \\n1              NaN             0.0                  NaN   \\n2                -             0.0                  NaN   \\n3              NaN             0.0                 14 4   \\n4              NaN             0.0                 03-A   \\n...            ...             ...                  ...   \\n9995             -             0.0                  NaN   \\n9996           NaN             0.0                 01 -   \\n9997             -             0.0                  NaN   \\n9998      495-0067             0.0                 52-P   \\n9999           NaN             0.0                 06 -   \\n\\n               Violation Description  No Standing or Stopping Violation  \\\\n0     71A-Insp Sticker Expired (NYS)                                NaN   \\n1       FAILURE TO STOP AT RED LIGHT                                NaN   \\n2                                NaN                                NaN   \\n3       21-No Parking (street clean)                                NaN   \\n4           20A-No Parking (Non-COM)                                NaN   \\n...                              ...                                ...   \\n9995                             NaN                                NaN   \\n9996    21-No Parking (street clean)                                NaN   \\n9997                             NaN                                NaN   \\n9998           37-Expired Muni Meter                                NaN   \\n9999    46A-Double Parking (Non-COM)                                NaN   \\n\\n     Hydrant Violation Double Parking Violation  \\n0                  NaN                      NaN  \\n1                  NaN                      NaN  \\n2                  NaN                      NaN  \\n3                  NaN                      NaN  \\n4                  NaN                      NaN  \\n...                ...                      ...  \\n9995               NaN                      NaN  \\n9996               NaN                      NaN  \\n9997               NaN                      NaN  \\n9998               NaN                      NaN  \\n9999               NaN                      NaN  \\n\\n[10000 rows x 44 columns]>], dtype='object')] are in the [columns]"

In [ ]:
col_nan=df.columns[df.isnull().any()] # en qué columnas están los NaN
df[col_nan].isnull().sum() # nombres y numeros de columnas con NaN
# Una vez visto como están los Nan distribuiods por columnas, se pueden elminar alguans columnas y otras hay qué modificarlas

Plate ID                                 2
Vehicle Body Type                      113
Vehicle Make                            82
Violation Location                     727
Issuer Command                         708
Issuer Squad                           708
Violation Time                           1
Time First Observed                   8903
Violation County                       760
Violation In Front Of Or Opposite      821
Number                                 916
Street                                   2
Intersecting Street                   7962
Violation Legal Code                  9291
Days Parking In Effect                1529
From Hours In Effect                  3620
To Hours In Effect                    3620
Vehicle Color                           69
Unregistered Vehicle?                 8622
Meter Number                          7752
Violation Post Code                   2085
Violation Description                 1378
No Standing or Stopping Violation    10000
Hydrant Violation                    10000
Double Parking Violation             10000
dtype: int64

In [ ]:
df1=df

df1.dropna(axis=1,inplace=True)

print(df1.isnull().sum().sum())

print(df.shape) # ahora solo hay 19 columnas, no ha sido buena idea
df1

0

(10000, 19)

89671

### B) Elimina todas las muestras donde la fecha no tenga coherencia: `Vehicle Year`, además transformalas a enteros (2024,2012,2006,etc.)

,Unnamed: 0,Summons Number,Registration State,Plate Type,Issue Date,Violation Code,Issuing Agency,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Precinct,Issuer Precinct,Issuer Code,Date First Observed,Law Section,Sub Division,Vehicle Year,Feet From Curb
0,7192124,7684215310,NY,COM,04/23/2014,71,T,9540,52390,65490,20150331,109,109,357738,0.0,408.0,j6,2004.0,0.0
1,1399831,5070680213,NY,OMT,09/14/2013,7,V,0,0,0,0,0,0,0,0.0,1111.0,D,2008.0,0.0
2,5369188,1356951855,NY,PAS,02/13/2014,71,P,11710,37090,37110,0,33,33,938339,0.0,408.0,E2,2006.0,0.0
3,6338606,7713806271,NY,PAS,03/20/2014,21,T,24440,51090,18450,20151116,103,103,357098,0.0,408.0,d1,2008.0,0.0
4,2823881,7645478044,NY,PAS,11/01/2013,20,T,54790,0,0,20150205,109,109,358121,0.0,408.0,d,1996.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,51871,1359994981,NY,COM,07/24/2013,14,P,0,0,0,20150131,0,401,912069,0.0,408.0,C,2007.0,0.0
9996,2178598,7531580299,99,999,10/10/2013,21,T,44530,89930,42330,88880088,84,84,348529,0.0,408.0,d1,0.0,0.0
9997,5536586,1353773541,NY,PAS,02/21/2014,16,T,0,0,0,20140503,90,110,350318,0.0,408.0,F6,1996.0,0.0
9998,1127482,7207594008,NY,PAS,09/05/2013,37,T,37290,40404,40404,20150909,114,114,357749,0.0,408.0,h1,2006.0,0.0
9999,2822344,7536561775,NY,PAS,11/01/2013,46,T,41630,54130,47130,20150804,88,88,356516,0.0,408.0,f1,2005.0,0.0

### C) Hay marcas de vehículos que no guardan sentido con ninguna marca real (`Vehicle Make`) elimina dichas muestras. Deja constancia de cuantas has borrado.

### D) Representa en un grafíco de barras la cantidad de vehículos (por marca `Vehicle Make`)

### E) Unifica lo máximo que puedas la terminología de colores. Por ejemplo, valores como `WH` y `wh`y `wh\`hacen referencia al `white`

### F) Representa en un gráfico de barras las marca de vehículo segmentadas por colores de vehículos.

### H) Subé este código a tu repositorio. Incluye un documento Readme.md Indicando tan solo: "H"

### I) Convierte la serie `Issue Date` en una serie temporal y contabiliza las multas por `Violation Code[] y més del Issue Date.

### J) Visualiza la anterior cuestión (I)

### K) Subé este código a tu repositorio. Sustituye la 'H' del readme.md por un 'end'